body{
    font-family: 'Roboto', sans-serif;
}
h1{
    color: blue;
}

#teste{
    font-size:5em;
}

.teste2{
    font-family: "Times New Roman", Times, serif;
}

div{
    background:red;
    width:50%;
    margin-left:15px;
    padding-left:10px;
}